<div class="app-container">
  <h1>{{ title }}</h1>

  <div class="controls-container">
    <!-- Date Filter -->
    <div class="date-selector">
      <app-date-selector
        [selectedDate]="endDate()"
        (selectedDateChange)="onDateChange($event)"
      >
      </app-date-selector>
    </div>

    <!-- Currency Selector -->
    <div class="currency-selector">
      <app-currency-selector
        [baseCurrency]="baseCurrency()"
        [selectedCurrencies]="targetCurrencies()"
        (baseCurrencyChange)="onBaseCurrencyChange($event)"
        (selectedCurrenciesChange)="onSelectedCurrenciesChange($event)"
      >
      </app-currency-selector>
    </div>
  </div>

  @if (loading()) {
  <div class="loading">Loading data...</div>
  } @if (error()) {
  <div class="error">{{ error() }}</div>
  }
  <!-- Currency exchange rates table -->
  <app-exchange-rates-table
    [exchangeRates]="exchangeRates()"
    [targetCurrencies]="targetCurrencies()"
  >
  </app-exchange-rates-table>
</div>
