.controls-container {
  width: 100%;
  .date-selector {
    width: 29%;
  }
  .currency-selector {
    width: 69%;
  }
}

@media (max-width: 550px) {
  .date-selector {
    width: auto !important;
  }
  .currency-selector {
    width: auto !important;
  }
}
